<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-input label="Email" [(ngModel)]="user.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" label="Password" [(ngModel)]="user.password"></ion-input>
    </ion-item>
  </ion-list>
  <div class="ion-padding">
    <ion-button (click)="btnLogin()">Login</ion-button>
  </div>

  <div class="ion-padding">
    <ion-title>Camera</ion-title>
    <img [src]="imagePath || 'assets/shapes.svg'">
    <div class="ion-padding">
      <ion-button shape="round" expand="block" fill="outline" (click)="takePhoto()">
        <ion-icon slot="start" name="camera"></ion-icon>
        Take Photo
      </ion-button>
    </div>
  </div>

</ion-content>
