<ion-header [translucent]="true">
  <ion-toolbar>

    <div class="header-container">
      <ion-buttons class="menu-button">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-label>i-space</ion-label>
      <ion-buttons class="profile">
        <ion-icon name="person-circle"></ion-icon>
      </ion-buttons>
    </div>

  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <div class="home-container">
    <div class="menu-container">
      <ion-label>Menu</ion-label>
      <div class="menu-wrap">

        <div class="menu-button">
          <ion-icon name="earth"></ion-icon>
          <ion-label>What's New</ion-label>
        </div>
        <div class="menu-button">
          <ion-icon name="map"></ion-icon>
          <ion-label>Virtual 360</ion-label>
        </div>
        <div class="menu-button">
          <ion-icon name="book-outline"></ion-icon>
          <ion-label>Library</ion-label>
        </div>

        <div class="menu-button">
          <ion-icon name="people"></ion-icon>
          <ion-label>Staff Directory</ion-label>
        </div>
        <div class="menu-button">
          <ion-icon name="fitness"></ion-icon>
          <ion-label>Health</ion-label>
        </div>
        <div class="menu-button">
          <ion-icon name="call"></ion-icon>
          <ion-label>Contact</ion-label>
        </div>

      </div>
    </div>
  </div>

</ion-content>