<ion-header [translucent]="true">
  <ion-toolbar>

    <div class="header-container">
      <ion-buttons class="menu-button">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-label>i-space 1.0</ion-label>
      <ion-buttons class="profile" (click)="doLogout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-buttons>
    </div>

  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <div class="home-container">
    <div class="menu-container">
      <ion-label>Menu</ion-label>
      <div class="menu-wrap">
        <div class="menu-button">
          <ion-icon name="earth"></ion-icon>
          <ion-label>What's New</ion-label>
        </div>
        <div class="menu-button">
          <ion-icon name="map"></ion-icon>
          <ion-label>Virtual 360</ion-label>
        </div>
        <div class="menu-button">
          <ion-icon name="book-outline"></ion-icon>
          <ion-label>Library</ion-label>
        </div>

        <div class="menu-button">
          <ion-icon name="people"></ion-icon>
          <ion-label>Staff Directory</ion-label>
        </div>
        <div class="menu-button">
          <ion-icon name="fitness"></ion-icon>
          <ion-label>Health</ion-label>
        </div>
        <div class="menu-button">
          <ion-icon name="call"></ion-icon>
          <ion-label>Contact</ion-label>
        </div>
      </div>
    </div>

    <div class="news-container">
      <div class="news-header">
        <ion-label>News</ion-label>
        <ion-buttons class="show-all" (click)="showHideNews()">
          <ion-label>{{ showNews ? 'Hide News' : 'Show News' }}</ion-label>
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-buttons>
      </div> <!-- end of news-header -->
      <div class="news-slider" *ngIf="showNews">
        <swiper-container [pagination]="true" navigation="true" effect="flip" loop="true">
         
          <swiper-slide class="swiper-slide">
            <div class="news-image">
              <img src="assets/images/edu fair banner.jpeg">
            </div>
            <div class="news-details">
              <ion-label class="title">Explore Endless Education Possibilities 2024</ion-label>
            </div>
          </swiper-slide>

          <swiper-slide class="swiper-slide">
            <div class="news-image">
              <img src="assets/images/utm-jdt.jpeg">
            </div>
            <div class="news-details">
              <ion-label class="title">MOU UTM & JDT</ion-label>
            </div>
          </swiper-slide>

          <swiper-slide class="swiper-slide">
            <div class="news-image">
              <img src="assets/images/utmspace graduation.jpeg">
            </div>
            <div class="news-details">
              <ion-label class="title">UTMSpace Lahirkan Ramai Graduan Bertaraf Antarabangsa</ion-label>
            </div>
          </swiper-slide>

        </swiper-container>
      </div>
    </div>



  </div>

</ion-content>